@use "../../styles/colors";
@import '../../styles/colors.scss';


.name {
    width: 1rem;
    height: 1rem;
    color: $text_primary;
}
.info {
    width: 1rem;
    height: 1rem;
    color: $secondary_main;
}