@use '../../styles/colors.scss';


.product-info-timer {
    background-color: colors.$text_primary;
}
.title {
    color: colors.$text_primary;
}
.timer {
    color: brown;
    background-color: burlywood;
}
.active {
    
    background-color: colors.$primary_main;
}